@charset "UTF-8";

html {
  /* 組み方向 */
  -epub-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  orphans: 1;
  widows: 1;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "游明朝", "YuMincho", serif;
  font-weight: Medium;
  text-align: justify;
}

#draft {
  height: calc(100vh - 2rem);
  margin-top: 1rem;
}

h1 {
  /* フォント */
  font-weight: Extrabold;
  /* フォントサイズ */
  font-size: 24q;
  /* 字下げ */
  text-indent: 0;
  /* 直後の改ページ・改段禁止 */
  page-break-before: always;
  page-break-after: always;
  line-height: 42q;
  letter-spacing: 0.25em;
  display: flex;
  align-items: center;
}

body.vscode-dark {
  color: white;
  background-color: rgb(37, 37, 37);
}

body.vscode-light {
  color: black;
  background-color: white;
}


h2 {
  /* フォント */
  font-weight: Demibold;
  /* フォントサイズ */
  font-size: 16q;
  /* 字下げ */
  text-indent: 3em;
  /* 直後の改ページ・改段禁止 */
  page-break-before: always;
  page-break-after: avoid;
  line-height: 42q;
  margin-left: 2em;
}

h2.part {
  width: 80mm;
  padding: 0mm 35mm;
  font-weight: bold;
  font-size: 16q;
  page-break-before: always;
  page-break-after: always;
  margin-left: 4em;
}

h1+h2 {
  margin-right: 16pt;
}

ruby>rt {
  font-size: 0.5em;
}

p {
  /* line-height: 1.65; */
  text-indent: 0em;
  hanging-punctuation: force-end;
  line-break: strict;
  page-break-inside: auto;
}

p.goth {
  margin-top: 3em;
  font-family: "游ゴシック", "YuGothic", san-serif;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

p.align-rb {
  text-align: right;
}

p.goth+p.goth {
  margin-block-start: -1em;
}

div.codes {
  display: inline-block;
  margin: 3em 1em;
  writing-mode: horizontal-tb;
  padding: 1em;
  font-family: "Courier", monospace;
  font-size: 0.8em;
}

div.codes p {
  text-orientation: sideways;
}

p.star {
  text-indent: 3em;
  margin-right: 16pt;
  margin-left: 16pt;
}

hr {
  border: none;
  border-right: 1pt solid black;
  height: 6em;
  margin: auto 8.5pt;
}

/* 縦中横 */
.tcy {
  -webkit-text-combine: horizontal;
  text-combine: horizontal;
  -ms-text-combine-horizontal: all;
  text-combine-horizontal: digit 2;
  text-combine-upright: digit 2;
}

/* 圏点（<span class="smaller">ゴマ</span>） */
em.sesame_dot {
  font-style: normal;
  -webkit-text-emphasis-style: sesame;
  text-emphasis-style: sesame;
}

/*著作者*/
.author {
  position: absolute;
  bottom: 0;
  font-size: 8.5pt;
  margin-top: 50pt;
  letter-spacing: normal;
}

/*画像＋キャプション*/
figure {
  display: block;
  width: 236pt;
  -ms-writing-mode: lr-tb;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
}

figure img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

figcaption {
  text-align: left;
  font-size: 7pt;
}

/*奥付*/
.colophon {
  font-size: 7pt;
  margin-right: 48pt;
}

/* 級さげ */
span.smaller {
  font-size: 6.5pt
}

div.comment {
  display: none;
}

p.blank {
  color: transparent;
}


body {
  writing-mode: vertical-rl;
  overflow-y: hidden;
  padding: 0;
}

#cursor {
  background-color: rgb(197, 197, 197);
  animation-duration: 0.5s;
  animation-name: cursorAnimation;
  animation-iteration-count: infinite;
  display: inline-block;
}

p {
  margin: 0 0 0 0;
  vertical-align: middle;
}

em.side-dot {
  font-style: normal;
  text-emphasis: filled sesame rgb(128, 128, 128);
  -webkit-text-emphasis: filled sesame rgb(128, 128, 128);
}

span.tcy {
  text-combine: horizontal;
  -webkit-text-combine: horizontal;
}

@keyframes cursorAnimation {
  from {
    background-color: rgba(66, 66, 66, 0);
  }

  to {
    background-color: rgba(125, 125, 125, 0.7);
  }
}

div#draft {
  background-image: linear-gradient(to down, rgba(128, 128, 128, 0.5) 0.5pt, rgba(0, 0, 128, 0.05) 10em);
}

.vscode-dark div#draft {
  background-image: linear-gradient(to down, rgba(70, 69, 69, 0.5) 0.5pt, rgba(0, 0, 128, 0.05) 10em);
}

.vscode-light div#draft {
  background-image: linear-gradient(to down, rgba(227, 227, 227, 0.5) 0.5pt, rgba(255, 255, 255, 0.05) 10em);
}


p {
  background-image: linear-gradient(rgba(128, 128, 128, 1) 0.5pt, transparent 1pt),
    linear-gradient(to right, rgba(128, 128, 128, 1) 0.5pt, rgba(0, 0, 50, 0.05) 1pt);
  background-repeat: repeat,
    repeat;
  background-position: right 0px,
    right 0px;
}

.vscode-light p {
  background-image: linear-gradient(rgb(214, 214, 214) 0.5pt, transparent 1pt),
    linear-gradient(to right, rgb(217, 217, 217) 0.5pt, transparent 1pt)
}

.vscode-dark p {
  background-image: linear-gradient(rgb(56, 56, 56) 0.5pt, transparent 1pt),
    linear-gradient(to right, rgb(56, 56, 56) 0.5pt, transparent 1pt)
}


div.comment {
  display: block;
  border-radius: 1em;
  border: 1.5pt solid rgb(241, 189, 0);
  padding: 0.25em 0.25em;
  position: absolute;
  margin-right: -3em;
  margin-top: 0.5em;
  background-color: rgb(255, 123, 0);
  max-width: 20em;
  writing-mode: lr-tb;
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 1;
  padding: 0.5em 1em;
}

div.comment::before {
  content: '';
  position: absolute;
  right: 1em;
  top: -15px;
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(241, 189, 0);
  border-left: 15px solid transparent;
}


.line-numbers {
  display: block;
  position: absolute;
  top:0px;
}

.line-numbers span {
  display: block;
  font-size: 0.75em;
  text-combine-upright: all;
  font-family: serif;
}