body {
  font-family: sans-serif;
  padding: 0em 0.5em;
  user-select: none;
  overflow-x: hidden;
  height: 100vh;
}

.tree-wrapper {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

h1 {
  text-align: center;
}

/* MARK:ツリー */

.tree-wrapper {
  overflow-x: hidden;
}

.tree-node {
  height: 1em;
  overflow-y: hidden;
  transition: all 0.1s linear;
  line-height: 1;
  padding-bottom: 0.6em;
  margin-bottom: -0.4em;
}

.tree-node:has(> .text) {
  padding-bottom: 0em;
  margin-bottom: 0em;
  overflow-y: auto;
}

.tree-node.expanded {
  height: auto;
  transition: all 0.1s linear;
}

.tree-node.dragged {
  opacity: 0.3;
}

.tree-node.dragged .insert-bar {
  display: none;
}

div:has(+ div > .tree-node.dragged) > .tree-node > .insert-bar.after {
  display: none;
}

.tree-node-children {
  padding-left: 20px;
}

.tree-label {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  border-top: transparent 1px solid;
  border-bottom: transparent 1px solid;
}

.tree-label > .item-name {
  display: inline-block;
  margin-left: 0em;
  text-wrap: nowrap;
}

.tree-label > .item-name::before {
  content: url("folder-closed.svg");
  width: 1.2em;
  display: inline-block;
  margin-right: 0.2em;
}

.vscode-light .tree-label > .item-name::before {
  content: url("folder-closed-light.svg");
}

.tree-node.expanded .tree-label > .item-name::before {
  content: url("folder-opens.svg");
}

.tree-node.expanded .tree-label.text > .item-name::before {
  content: url("file-dark.svg");
  margin-left: 0.75em;
}

.vscode-light .tree-node.expanded .tree-label.text > .item-name::before {
  content: url("file-light.svg");
  margin-left: 0.75em;
}

.horizontal .tree-node.expanded .tree-label.text > .item-name::before {
  content: url("file-dark.svg");
  margin-left: 0.75em;
}

.tree-node.placeholder .tree-label > .item-name {
  padding-left: 0.75em;
}

.tree-node.placeholder .tree-label.text > .item-name {
  padding-left: 0;
}

.vscode-light
  .horizontal
  .tree-node.expanded
  > .tree-label.text
  > .item-name::before {
  content: url("file-light.svg");
  margin-left: 0.75em;
}

.vscode-light .tree-node.expanded > .tree-label > .item-name::before {
  content: url("folder-opens-light.svg");
}

.tree-label > span.triangle {
  font-size: 1em;
  width: 1em;
  height: 1em;
  text-align: center;
  display: inline-block;
  transform: rotate(0deg);
}

.tree-label.text > span.triangle {
  display: none;
}

.tree-label.highlighted {
  background-color: rgba(224, 145, 0, 0.3);
  border-top: #ffb134 1px solid;
  border-bottom: #ffb134 1px solid;
}

.vscode-light .tree-label.highlighted {
  background-color: rgba(224, 145, 0, 0.3);
  border-top: #ff8f34 1px solid;
  border-bottom: #ff8f34 1px solid;
}

.tree-node.expanded > .tree-label > span.triangle {
  transform: rotate(90deg);
}

.tree-label > span.chars {
  font-size: 0.8em;
  opacity: 0.8;
  margin-left: 0.5em;
  text-wrap: nowrap;
  z-index: 0;
}

.insert-bar {
  position: relative;
  display: block;
  height: 0px;
  margin-bottom: 0px;
  background-image: url("insert-line-dark.svg");
  background-repeat: no-repeat;
  background-size: 1200px 6px;
  background-position-x: left;
  background-position-y: top;
  opacity: 0;
  z-index: 1;
}

.vscode-light .insert-bar {
  background-image: url("insert-line-light.svg");
}

.tree-node-children .insert-bar.inside:nth-child(n + 2) {
  display: none;
}

/* テキストノードの挿入ポイント */
.insert-bar.droppable {
  height: calc(0.5em);
  margin-bottom: calc(-0.5em);
  opacity: 0;
}

.insert-bar.after.droppable {
  margin-bottom: -0.4em;
  margin-top: calc(-0.1em);
}

.tree-node:has(> .text) .insert-bar.after.droppable {
  margin-bottom: 0em;
  margin-top: calc(-0.5em);
}

.insert-bar.dropping.before {
  opacity: 1;
  height: calc(0.5em + 0px);
}

.insert-bar.dropping.after {
  background-position-y: bottom;
  opacity: 1;
  height: calc(0.5em);
  margin-bottom: calc(-0.4em);
}

.tree-node:has(> .text) .insert-bar.after.dropping {
  margin-top: calc(-0.5em);
}

.insert-bar.inside {
  opacity: 0;
}

.insert-bar.inside.droppable,
.insert-bar.inside.dropping {
  margin-top: -0.2em;
  margin-bottom: -0.4em;
}

.insert-bar.inside.dropping {
  opacity: 1;
}

/* #MARK: トグルスイッチ */
.toggle-switch {
  text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.sorting-toggle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
